
body {

  
}
  
}

@font-face {
  font-family: calson;
  src: url(fonts/Radley-Regular.ttf);
}

@font-face {
  font-family: Radley-cursiv;
    src: url(fonts/Radley-Italic.ttf);
}

/*implement fontname in every slyleblock/div*/

span {
  display: inline-block;
  transform-origin: 0% 0%;
  transform: scale(1);
  overflow: visible;
  border: 0px solid pink;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

