html {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", Futura, Geneva, "Gill Sans", sans-serif;
}

body {
  max-width: calc(.5rem * 140); /*Twitter width :-) */
  margin: 0 auto;
}

h1, h2, p {
  padding: 1rem 0;
  max-width: calc(.5em * 66);
  letter-spacing: .06em;
  line-height: 2;

}

h1 {
  font-size: calc(2rem + 1vw);
  margin-left: 1rem;
}

h2 {
  font-size: calc(1.5rem + 1vw);
  margin-left: 1rem; /*Two spaces soft tab*/
}

p {
  font-size: calc(1rem + 1vw);
  margin-left: 2rem;
}